* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}
html,
body {
  width: 100%;
  height: 100%;
}
#miniCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.bounding {
  width: fit-content;
  overflow: hidden;
}
.bounding .boundingElem {
  transform: translateY(100%);
}
#main {
  width: 100%;
  background-color: black;
}
#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #fff;
  position: relative;
}
#nav {
  width: 100%;
  padding: 20px 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
#heading {
  margin-top: 90px;
}
#heading h1 {
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  opacity: 0.6;
  margin-left: 30px;
}
#heading #secondh1 {
  margin-left: 200px;
}
.blocktext {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.blocktext h5 {
  text-align: right !important;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}
#smallHeading {
  margin-top: 100px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#smallHeading h5 {
  text-align: right;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 1.1vw;
  font-weight: 500;
}
#heroFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
  width: 100%;
  padding: 0 2vw;
}
#heroFooter a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
#heroFooter #iconSet {
  display: flex;
  gap: 5px;
}
#heroFooter .circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #888;
}
#second {
  width: 100%;
  height: 100vh;
  padding-right: 10vw;
  background-color: black;
  padding-top: 200px;
  color: #fff;
}
.elem {
  width: 100%;
  border-top: 1px solid #888;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding-right: 0;
  position: relative;
}
.elem h1 {
  text-transform: uppercase;
  font-size: 7.5vw;
  opacity: 0.7;
  font-weight: 500;
}
.elem h5 {
  font-size: 1.1vw;
  opacity: 0.7;
  font-weight: 500;
}
.elemLast {
  border-bottom: 1px solid #888;
}
.elem img {
  height: 140%;
  /* opacity: 0; */
  display: none;
  position: absolute;
  z-index: 999;
}
#about {
  padding: 10vw 10vw;
  padding-left: 40vw;
  padding-top: 20vw;
  width: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  /* justify-content: space-between;  */
  gap: 50px;
}
#about #textAbout {
  width: 25rem;
}
#textAbout h5 {
  text-transform: uppercase;
  opacity: 0.6;
  font-weight: 500;
  margin-bottom: 10px;
}
#textAbout p {
  line-height: 1.7;
  margin-bottom: 30px;
}
#about img {
  width: 200px;
}
#textAbout a {
  padding: 8px 22px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
#subscribe {
  background-color: black;
  color: #fff;
  padding: 20px 30px;
  padding-bottom: 6vw;
}
#subscribe h5 {
  text-transform: uppercase;
  opacity: 0.6;
  font-weight: 600;
}
#subscribe h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
  background-color: black;
  color: #fff;
  font-weight: 500;
}
#footerLeft {
  display: flex;
  gap: 20px;
  font-weight: 500;
}
#footerRight {
  display: flex;
  gap: 50px;
  font-weight: 500;
}
#footer a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
#footer h5 {
  font-weight: 500;
  font-size: 14px;
}
